# Archivos generados por compiladores
*.exe
*.obj
*.o
*.out
*.dll
*.lib
*.so

# Archivos de depuracion
*.pdb
*.idb

# Archivos de VSCode
.vscode/
*.code-workspace

# Archivos del sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos temporales / de backup
*.tmp
*.bak
*.log
*.swp
*.swo

# Archivos de cache o configuracion
*.cache
*.class

# Archivos generados por editores
*.DS_Store
*.idea/
*.vs/

# Ignorar carpetas de build si las usas
build/
bin/
dist/
.vscode/